<h1><%=@user.username%>&apos;s Bookmark Organizer</h1>
<h2>Bookmarks</h2>
<ul>
    <%@bookmarks.each do |bookmark|%>
        <li><a href='<%=bookmark.url%>' target='_blank'><%=bookmark.name%></a></li>
    <%end%>
</ul>

<h2>Tags</h2>
<ul>
    <%@tags.each do |tag|%>
        <li><a href=''><%=tag.name%></li>
    <%end%>
</ul>



