<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Organizer</title>
    <style>
    th {
        text-align: left;
    }
</style>
  </head>

  <body>
  <a href='/'>Home</a>
    <%= yield %>
  </body>
</html>