<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Organizer</title>
    <style>
    th {
        text-align: left;
    }
</style>
  </head>

  <body>
  <nav>
    <a href='/bookmarks'>Bookmarks</a>
    <a href='/bookmarks/new'>Create Bookmark</a>
    <a href='/logout'>Logout</a>
  </nav>
    <%= yield %>
  </body>
</html>